---
permalink: /
title: "About me"
author_profile: true
redirect_from: 
  - /about/
  - /about.html
---

I am post-doctoral researcher in the <a href="https://casrl.ece.ucf.edu/" target="_blank">Computer Architecture and Systems Research (CASR) Lab</a> at UCF. I have received my Ph.D. degree in Computer Engineering from <a href="https://www.ucf.edu/" target="_blank">University of Central Florida</a> where I was advised by <a href="http://fan-yao.com/" target="_blank">Dr. Fan Yao</a>.
<br>
My research interest is at the area of computer architecture and security, focusing on the development of secure and high-performance microarchitectural systems and emerging memory architectures. My work has led to the identification of new vulnerabilities in modern CPU microarchitecture and secure processors. I have also designed secure and high-performance architecture for memory and storage subsystems. I have published as first author in many prestigious venues, including all three top-tier architecture conferences (<strong>ISCA</strong>,  <strong>MICRO</strong>, and <strong>HPCA</strong>) and the Systems Security Conference (<strong>S&P</strong>).

<div style="background-color: lightgrey; padding: 10px; width: inherit;">
  <p style="color: red;">I am currently on the job market for tenure-track fac​ulty positions and research scientist positions in the industry.
</p>
</div>


<h2>News</h2>


<h2>Publications</h2>

<!-- 
Add CSS code to use list__item class to inherit the full width of the parent element
-->
<style>
  .list__item {
    width: 100%;
  }
</style>

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
        <p color="red">[TOP-TIER]</p>
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{%endif%}

<br>-----

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}